name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        pip install uv
        uv pip install -r requirements.txt
    - name: Lint with ruff
      run: |
        ruff check .
    - name: Test with pytest
      run: |
        export PYTHONPATH=.
        pytest
